

<div class="card my-5">
  <div class="card-body">
    <h1 style="text-align: center"> Liste des Medecins </h1>
    <button class="btn-secondary " type="button" routerLink="" ><< Retour</button>
    <br>
    <br>
    <table class="table table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Localisation </th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medecin of medecins">

        <td>{{medecin.nom}}</td>
        <td>{{medecin.prenom}}</td>
        <td><li class="list-inline-item">
          <button class="btn-success" (click)="delete(medecin)"> Supprimer</button>
          &#160;
          <a href="updateMedecin/{{medecin.id}}">
            <button type="button"  class="btn-warning">Modifier</button>
          </a>
        </li></td>
      </tr>
      </tbody>
    </table>

    <div style="text-align: right">
      <button  type="button"  class="btn-primary btn-lg" routerLink="/manageMedecin">Ajouter </button>
    </div>

  </div>

</div>
